{% load htk_tags %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}

<p>
  <b>Number of Migrations Run:</b> {{ num_migrations_run }}<br/>
  <b>Number of Migrations to Apply:</b> {{ num_migrations_to_apply }}<br/>
</p>

{% if num_migrations_to_apply > 0 %}
<p>
  <form id="apply_migrations_form" method="POST">
    {% csrf_token %}
    <button type="submit" id="apply_migrations" class="btn btn-danger">Apply Migrations</button>
  </form>
</p>
{% endif %}

<pre>{{ migration_plan }}</pre>
