<div class="follow-button follow-{{ follow_type }}-button {% if is_following %}following{% else %}not-following{% endif %}">
  <a href="javascript:void(0);" class="pure-button follow" title="Follow" data:follow-uri="{{ follow_uri }}">
    <i class="fa fa-plus"></i>
    {% include 'fragments/buttons/follow_entity_icon.html' %}
  </a>
  <a href="javascript:void(0);" class="pure-button unfollow" title="Unfollow" data:unfollow-uri="{{ unfollow_uri }}">
    <i class="fa fa-minus"></i>
    {% include 'fragments/buttons/follow_entity_icon.html' %}
  </a>
</div>
