<form method="POST"{% if action_view %} action="{% url action_view %}"{% endif %} class="pure-form pure-form-aligned">
  <fieldset>
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
  {{ field }}
  {% if field.errors %}
  <span class="pure-form-message form-error">{{ field.errors }}</span>
  {% endif %}
  {% if field.help_text %}
  <span class="pure-form-message">{{ field.help_text }}</span>
  {% endif %}
  {% endfor %}
  {% if anchor_buttons %}
  {% include 'fragments/forms/pure_anchor_buttons.html' %}
  {% else %}
  {% include 'fragments/forms/pure_buttons.html' %}
  {% endif %}
  </fieldset>
</form>
