<div class="pure-g-r email-row{% if is_primary %} email-row-primary{% endif %}">
  <div class="pure-u-1-8">
    {% if is_primary %}
    <span>
      Primary
    </span>
    {% endif %}
  </div>
  <div class="pure-u-7-12 email">
    {{ email }}
  </div>
  <div class="pure-u-7-24">
    {% if not is_primary %}
    {% if is_confirmed %}
    <div class="email-action-link float-right">
      {% include 'fragments/accounts/settings/forms/email/set_primary.html' %}
    </div>
    {% else %}
    <div class="email-action-link float-right">
      (Not verified)
    </div>
    {% endif %} {# is_confirmed #}
    <div class="email-action-link float-right">
      {% include 'fragments/accounts/settings/forms/email/delete.html' %}
    </div>
    {% endif %} {# not is_primary #}
  </div>
</div>
