  <style>
    .features-app {
      --gray: rgba(0, 0, 0, 0.2);
      --dark-gray: rgba(0, 0, 0, 0.75);
      --green: #00ba69;
      --red: #df6b51;
      --orange: #f9bc82;
    }
    .features-wrapper {
      display: flex;
      position: relative;
      margin: 2rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      flex-wrap: wrap;
      z-index: 900;
    }
    .features-wrapper * {
      box-sizing: border-box;
    }
    .feature {
      display: flex;
      flex-direction: column;
      width: 32%;
      margin: 10px;
      padding: 1rem;
      border: 1px solid var(--gray);
      border-radius: 4px;
    }
    .feature-header {
      display: flex;
    }
    .feature h3 {
      position: relative;
      margin: 0;
      margin-bottom: 15px;
      flex-grow: 1;
    }
    .feature h3::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 8px;
      background-color: var(--gray);
      border-radius: 5px;
    }
    .feature.on h3::before {
      background-color: var(--green);
    }
    .feature h3 span {
      display: block;
      margin-left: 23px;
      font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
      font-size: 0.75em;
      font-weight: normal;
    }
    .feature-switch {
      display: block;
      position: relative;
      width: 50px;
      height: 26px;
      background-color: var(--gray);
      border-radius: 13px;
    }
    .feature-switch::after {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #FFFFFF;
    }
    .feature.on .feature-switch {
      background-color: var(--green);
    }
    .feature.on .feature-switch::after {
      left: initial;
      right: 3px;
    }
    .feature-description {
      flex-grow: 1;
    }
    .feature-info {
      display: flex;
      flex-wrap: wrap;
    }
    .feature-info > div {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-top: 5px;
      padding-right: 10px;
      box-sizing: border-box;
    }
    .features-modal-container {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
      background-color: var(--dark-gray);
      z-index: 1000;
    }
    .features-modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      padding: 1rem;
      border-radius: 6px;
      background-color: #fff;
    }
    .features-modal h1 {
      width: 80px;
      height: 80px;
      margin-bottom: 0.5rem;
      font-size: 3.3rem;
      text-align: center;
      color: var(--orange);
      border: 2px solid var(--orange);
      border-radius: 50%;
    }
    .features-modal h2 {
      margin-bottom: 0.5rem;
    }
    .features-modal p {
      text-align: center;
    }
    .features-modal-buttons {
      margin: 1rem 0;
    }
    button {
      margin: 0 0.5rem;
      padding: 0.6rem 1rem;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      background-color: #ccc;
      outline: none;
      border: 0;
      border-radius: 4px;
      transition: all 0.1s ease-in-out;
    }
    button:hover {
      -webkit-box-shadow: 0px 0px 5px 0px var(--dark-gray);
      -moz-box-shadow: 0px 0px 5px 0px var(--dark-gray);
      box-shadow: 0px 0px 5px 0px var(--dark-gray);
    }
    .disable-text {
      display: none;
    }
    .error-text {
      display: none;
      color: var(--red);
    }
    .features-modal-container.disable .enable-text {
      display: none;
    }
    .features-modal-container.disable .disable-text {
      display: initial;
    }
    button.btn-confirm {
      background-color: var(--green);
    }
    .features-modal-container.disable button.btn-confirm {
      background-color: var(--red);
    }
    .features-modal-container.error .error-text {
      display: block;
    }
  </style>
  <div class="features-app">
    <div class="features-wrapper">
      {% for feature_flag in feature_flags %}
      <div class="feature{% if feature_flag.is_enabled %} on{% endif %}" data-id="{{ feature_flag.id }}">
        <div class="feature-header">
          <h3>
            {{ feature_flag.title }}
            <span>{{ feature_flag.name }}</span>
          </h3>
          <div class="feature-switch-wrapper">
            <a href="#" class="feature-switch"></a>
          </div>
        </div>
        <div class="feature-description">
          <p>{{ feature_flag.description }}</p>
        </div>
        <div class="feature-info">
          <div><b>Created At:</b> {{ feature_flag.created_at|date }}</div>
          <div><b>Updated At:</b> <span class="update-date">{{ feature_flag.updated_at|date }}</span></div>
          <div><b>Enabled After:</b> {{ feature_flag.enabled_after|date|default:"-" }}</div>
          <div><b>Disabled After:</b> {{ feature_flag.disabled_after|date|default:"-" }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="features-modal-container">
      <div class="features-modal disable">
        <h1>!</h1>
        <h2>Are you sure?</h2>
        <p class="enable-text">The feature <b class="feature-name"></b> will be <b>Enabled</b> and all content will be usable.</p>
        <p class="disable-text">The feature <b class="feature-name"></b> will be <b>Disabled</b> and will not be usable.</p>
        <p class="error-text">An error occured while trying to process the request.</p>
        <div class="features-modal-buttons">
          <button class="btn-close">Cancel</button>
          <button class="btn-confirm">
            Yes,
            <span class="disable-text">Disable</span>
            <span class="enable-text">Enable</span>
            it!
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.2.slim.min.js" integrity="sha256-E3P3OaTZH+HlEM7f1gdAT3lHAn4nWBZXuYe89DFg2d0=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(() => {
      const url = '{% url api_url_name 0 %}';
      const modal = $('.features-modal-container');
      let feature;

      $('a.feature-switch').on('click', function(e) {
        e.preventDefault();
        feature = $(this).closest('.feature');
        modal.removeClass('error')
        modal.toggleClass('disable', feature.hasClass('on'));
        modal.find('.feature-name').text(feature.find('h3').text());
        modal.attr('style', 'display: flex;');
      });

      $('.btn-close').on('click', function(e) {
        modal.attr('style', '');
      });

      $('.btn-confirm').on('click', function(e) {
        const id = feature.data('id');
        fetch(url.replace('0', id))
          .then((response) => response.json())
          .then((response) => {
            modal.attr('style', '');
            feature.find('.update-date').text(response.updated_at);
            feature.toggleClass('on', response.enabled);
          })
          .catch((error) => {
            modal.addClass('error');
          });
      });
    });
  </script>
