{% comment %}
https://rollbar.com/docs/notifier/rollbar.js/
{% endcomment %}

{% if rollbar_js_version %}
{% if rollbar_js_version|slice:":4" == '2.26' %}
{% include 'fragments/js/rollbar/v2.26.x.html' %}
{% elif rollbar_js_version == '2.25' %}
{% include 'fragments/js/rollbar/v2.25.x.html' %}
{% elif rollbar_js_version == '2.24' %}
{% include 'fragments/js/rollbar/v2.24.x.html' %}
{% elif rollbar_js_version == '2.19' %}
{% include 'fragments/js/rollbar/v2.19.x.html' %}
{% elif rollbar_js_version == '2.15' %}
{% include 'fragments/js/rollbar/v2.15.x.html' %}
{% elif rollbar_js_version == '2.5' %}
{% include 'fragments/js/rollbar/v2.5.x.html' %}
{% elif rollbar_js_version == '2.3' %}
{% include 'fragments/js/rollbar/v2.3.x.html' %}
{% elif rollbar_js_version == '2.2' %}
{% include 'fragments/js/rollbar/v2.2.x.html' %}
{% elif rollbar_js_version == '1' %}
{% include 'fragments/js/rollbar/v1.html' %}
{% elif rollbar_js_version == '1.9' %}
{% include 'fragments/js/rollbar/v1.9.x.html' %}
{% elif rollbar_js_version == '1.7' %}
{% include 'fragments/js/rollbar/v1.7.html' %}
{% else %}
{% include 'fragments/js/rollbar/v1.x.html' %}
{% endif %}
{% else %}
{% include 'fragments/js/rollbar/v1.html' %}
{% endif %}
