<h1> Browser and Request Info</h1>

<h3>General Request Info</h3>

<pre>
<b>Referrer</b>: {{ request.request.META.HTTP_REFERER }}
<b>Remote Address / Remote IP</b>: {{ request.request.META.REMOTE_ADDR }}
<b>Remote Port</b>: {{ request.request.META.REMOTE_PORT }}
<b>Request URL</b>: {{ request.request.META.SCRIPT_URI }}
<b>Request Method</b>: {{ request.request.META.REQUEST_METHOD }}
</pre>

{% load htk_tags %}

<h3>Standard HTTP Request Headers</h3>

{% for http_header in standard_http_headers %}
<code>
  <b>{{ http_header|http_header }}</b>:
  {{ request.request.META|get_item:http_header }}
</code>
<br/>
{% endfor %}

<h3>Custom HTTP Request Headers</h3>

{% for http_header in custom_http_headers %}
<code>
  <b>{{ http_header|http_header }}</b>:
  {{ request.request.META|get_item:http_header }}
</code>
<br/>
{% empty %}
No custom HTTP request headers were found.
{% endfor %}

{% comment %}
<h3>WSGI Request</h3>

<pre>
{{ request.request }}

{{ request.request.META }}
</pre>
{% endcomment %}
