{% extends 'emails/base.html' %}
{% block content %}
New feedback was provided from the website at {{ domain}}.<br/>
<br/>
{% if feedback.user %}
<b>User</b>: {{ feedback.user }}<br/>
{% endif %}
<b>From</b>: {{ feedback.name }}{% if feedback.email %} &lt;<a href="mailto:{{ feedback.email }}">{{ feedback.email }}</a>&gt;{% endif %}<br/>
<br/>
<b>Comment</b>:<br/>
{{ feedback.comment }}<br/>
<br/>
Go to <a href="http://{{ domain }}{{ feedback.get_admin_url }}">http://{{ domain }}{{ feedback.get_admin_url }}</a> to administer the message.
{% endblock %}
