<h1>{{ LEGAL_SERVICE_NAME }} Privacy Policy</h1>

This Privacy Policy ("Privacy Policy") applies to the treatment of personally identifiable information (together, "Information") submitted by, or otherwise obtained from, you in connection with the Web site you are, or are about to, access or otherwise use ("the Site"). The Site is provided by {{ LEGAL_OWNER }}. By using or otherwise accessing the Site, you acknowledge that you accept the practices and policies outlined in this Privacy Policy.<br/>
<br/>

<h4>What Information Does {{ LEGAL_SERVICE_NAME }} Collect?</h4>

We collect the following types of Information from our users:<br/>
<br/>

<b>Other Personal Information You Provide to Us:</b><br/>
<br/>

We may receive and store any other Information you submit to the Site (or otherwise authorize us to obtain). The types of personal Information collected may include your email address, address, Facebook username, Twitter username, and any other Information necessary for us to provide the Site services. If certain Site features require payment – we will also collect relevant information from you (such as your credit card number and billing address) for purposes of processing such payment.<br/>
<br/>

<b>Personal Information Collected Automatically:</b><br/>
<br/>

We receive and store certain types of usage related Information whenever you interact with the Site. For example, {{ LEGAL_SERVICE_NAME }} may automatically receive and record Information regarding your mobile handset model, your IP address, operating system version number, country and frequency of usage of Site. Such Information may be shared in aggregate (non-personally identifiable) form with our partners.<br/>
<br/>

<h4>How does {{ LEGAL_SERVICE_NAME }} use the information it collects?</h4>

{{ LEGAL_SERVICE_NAME }} uses the Information described in this Privacy Policy only: (i) internally, to analyze, develop and improve its products and services, (ii) to provide you with the Site features, and (iii) as set expressly forth below in the <i>Will {{ LEGAL_SERVICE_NAME }} Share Any of the Personal Information it Collects</i> section below.<br/>
<br/>

<h4>Will {{ LEGAL_SERVICE_NAME }} Share Any of the Personal Information it Collects?</h4>

We neither rent nor sell nor otherwise provide such Information to anyone (with the exception of sharing your Information as set forth below).<br/>
<br/>

<i>Agents</i>: We employ other companies and people to perform tasks on our behalf and need to share your Information with them to provide Site services to you. Unless we tell you differently, {{ LEGAL_SERVICE_NAME }}'s agents do not have any right to use Information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of Information for the above purposes.<br/>
<br/>

<i>Business Transfers</i>: In some cases, we may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that are transferred. Moreover, if {{ LEGAL_SERVICE_NAME }}, or substantially all of its assets were acquired, or in the unlikely event that {{ LEGAL_SERVICE_NAME }} goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of {{ LEGAL_SERVICE_NAME }} may continue to use your information as set forth in this policy.<br/>
<br/>

<i>Protection of {{ LEGAL_SERVICE_NAME }} and Others</i>: We may release Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of {{ LEGAL_SERVICE_NAME }}, our employees, our users, or others. This includes exchanging Information with other companies and organizations for fraud protection and credit risk reduction.<br/>
<br/>

<i>With Your Consent</i>: Except as set forth above, you will be notified when your Information may be shared with third parties, and will be able to prevent the sharing of this Information.<br/>
<br/>

<h4>CONDITIONS OF USE.</h4>

If you decide to use or otherwise access the Site, your use/access and any possible dispute over privacy is subject to this Privacy Policy and our Terms of Use, including limitations on damages and application of California state law.<br/>
<br/>

<h4>THIRD PARTY APPLICATION/APPLICATIONS.</h4>

The Site may permit you to link to other applications. Such third party applications are not under {{ LEGAL_SERVICE_NAME }}'s control, and such links do not constitute an endorsement by {{ LEGAL_SERVICE_NAME }} of those other applications or the services offered through them. The privacy and security practices of such third party application linked to the Site are not covered by this Privacy Policy, and {{ LEGAL_SERVICE_NAME }} is not responsible for the privacy or security practices or the content of such applications.<br/>
<br/>

<h4>CAN CHILDREN USE THE SITE?</h4>

The Site is not intended for children under the age of 13. {{ LEGAL_SERVICE_NAME }} does not knowingly or specifically collect information about children under the age of 13 and believes that children of any age should get their parents' consent before giving out any personal information. We encourage you to participate in your child's web experience.<br/>
<br/>

<h4>Changes to this Privacy Policy.</h4>

{{ LEGAL_SERVICE_NAME }} may amend this Privacy Policy from time to time. Use of Information we collect now is subject to the Privacy Policy in effect at the time such Information is used. If we make changes in the way we use such Information, we will notify you within the Site. Users are bound by any changes to the Privacy Policy when he or she uses or otherwise accesses the Site after such changes have been first posted.<br/>
<br/>

<h4>Questions or Concerns.</h4>

If you have any questions or concerns regarding privacy on our Site, please send us a detailed message at {{ LEGAL_PRIVACY_EMAIL }}. We will make every effort to resolve or otherwise address your concerns.<br/>
<br/>

Effective Date: {{ LEGAL_EFFECTIVE_DATE }}<br/>
<br/>

{{ LEGAL_OWNER }}<br/>
{{ LEGAL_CITY }}, {{ LEGAL_STATE }}<br/>
<br/>
