<li class="htk-toolbar-list-item emulate-user-id">
  <span class="emulate-user-id-title">Emulate by Username or User ID</span>
  <div class="emulate-user-id-form">
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary btn-sm" type="button">Username</button>
          <button class="btn btn-secondary btn-sm" type="button">User ID</button>
        </div>
      </div>
    </div>
  <br/>>
  <button type="button" class="btn btn-primary">Submit</button>
</li>