<li class="htk-toolbar-list-item emulate-user-id">
  <span class="emulate-user-id-title">Emulate by User ID</span>
  <div class="emulate-user-id-form">
    <input type="number" class="emulate-input" placeholder="User ID"/>
    <button class="emulate-button">Emulate User</button>
  </div>
  <button class="emulate-user-id-stop">Stop Emulating</button>
</li>
<li class="htk-toolbar-list-item emulate-username">
  <span class="emulate-username-title">Emulate by Username</span>
  <div class="emulate-username-form">
    <input class="emulate-input" placeholder="Username"/>
    <button class="emulate-button">Emulate User</button>
  </div>
  <button class="emulate-username-stop">Stop Emulating</button>
</li>
      