<li class="htk-toolbar-list-item emulate-user">
  <h6 class="emulate-user-title">Emulate by Username or User ID</h6>
  <div class="emulate-user-form">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username or ID" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary btn-sm username" type="button">Username</button>
        <button class="btn btn-secondary btn-sm user-id" type="button">User ID</button>
      </div>
    </div>
    <medium class="emulate-user-message text-danger"></medium>
  </div>
  <br/>
  <button type="button" class="emulate-user-stop btn btn-primary">Stop Emulating</button>
</li>