<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>A message from {{ site_name|default:'Hacktoolkit' }}</title>
  </head>

  <body>
    <table width="562">
      <tr>
	<td id="header" style="border: 1px solid #000; padding: 15px;">
	  {% include 'emails/fragments/header.html' %}
	</td>
      </tr>
      <tr>
	<td id="body" style="border: 1px solid #000; padding: 15px;">
	  {% block content %}{% endblock %}
	  {% include 'emails/fragments/closing.html' %}
	</td>
      </tr>
      <tr>
	<td id="footer" style="border: 1px solid #000; padding: 15px;">
	  {% include 'emails/fragments/footer.html' %}
	</td>
      </tr>
    </table>
  </body>
</html>
