
{% include 'rayco/fragments/errors.html' with errors=import_customers_form.non_field_errors %}
Select a <b>CSV</b> file to upload member customers to an Organization Customer.<br/>
<br/>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% for hidden in import_customers_form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  {% for field in import_customers_form.visible_fields %}
  {{ field.label_tag }}
  {{ field }}
  {% if field.errors %}
  <div class="fg-red">
    {{ field.errors }}
  </div>
  {% endif %}
  {% if field.help_text %}
  <em>{{ field.help_text|safe }}</em>
  {% endif %}
  {% endfor %}
  <br/>
  <button class="btn btn-primary form-control" type="submit">Upload and Import Customers</button>
</form>
<br/>
<br/>
