<ul>
  <li>The first row of the CSV file must be the column titles</li>
  <li>Column titles are all lower-case, separated by underscores (no spaces).</li>
  <li>Accepted column titles are as follows:
    <ul>
      <li><code>last_name, first_name</code> (if "Last, First" are in one column) OR</li>
      <li><code>first_name</code> (First Name in its own column)</li>
      <li><code>last_name</code> (Last Name in its own column)</li>
      <li><code>email</code></li>
      <li><code>address</code></li>
      <li><code>address_city</code></li>
      <li><code>address_state</code></li>
      <li><code>address_zipcode</code></li>
      <li><code>mailing_address</code></li>
      <li><code>mailing_address2</code> (optional)</li>
      <li><code>mailing_city</code></li>
      <li><code>mailing_state</code></li>
      <li><code>mailing_zipcode</code></li>
    </ul>
  </li>
</ul>
