{% if yui_local_path %}
<script type="text/javascript" src="{{ yui_local_path }}/{{ yui_version|default:'3.18.1' }}/build/yui/yui-min.js"></script>
{% else %}
<script src="http://yui.yahooapis.com/{{ yui_version|default:'3.18.1' }}/build/yui/yui-min.js"></script>
{% endif %}

{% if not yui_no_reload %}
{% comment %}
Checks for the presence of YUI.
If it doesn't exist, meaning YUI didn't load properly, reload the page.
{% endcomment %}

{% load htk_tags %}
<script type="text/javascript">
YUI_RELOAD_MAX_ATTEMPTS = {{ yui_reload_max_attempts|default:0 }};
YUI_RELOAD_ATTEMPTS = {{ JS_RELOADS.yui|default:0 }};
</script>

{% loadjs '/static/htk/js/yui_safely.js' %}
{% endif %}
