{% load htk_tags %}
<span class="cpq-company">{{ constants.legal.owner }}</span>
<br/>
<table class="cpq-contact">
  <tbody>
    {% if constants.addresses.default %}
    <tr>
      <td>
        <i class="fa fa-building"></i>
      </td>
      <td>
        {{ constants.addresses.default.street }},
        {{ constants.addresses.default.city }},
        {{ constants.addresses.default.state }}
        {{ constants.addresses.default.zip }}
      </td>
    </tr>
    {% endif %}
    {% if constants.phones.default %}
    <tr>
      <td>
        <i class="fa fa-phone"></i>
      </td>
      <td>
        {% if constants.phones.default_is_alpha %}
        {{ constants.phones.default }}
        [ {{ constants.phones.default|phonenumber }} ]
        {% else %}
        {{ constants.phones.default|phonenumber }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if constants.emails.finance %}
    <tr>
      <td>
        <i class="fa fa-envelope-o"></i>
      </td>
      <td>
        {{ constants.emails.finance|obfuscate_mailto|safe }}
      </td>
    </tr>
    {% endif %}
    {% if constants.legal.ein %}
    <tr>
      <td>
        <i class="fa fa-balance-scale"></i>
      </td>
      <td>
        EIN #{{ constants.legal.ein }}
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
