<div class="cpq">
  <h3>Admin</h3>
  <ul>
    {% for admin_url in admin_urls %}
    <li>
      <a href="{{ admin_url.url }}" target="_blank">{{ admin_url.name }}</a>
      (<a href="{{ admin_url.add_url }}" target="_blank"><i class="fa fa-plus"></i> Add</a>,
      <a href="{{ admin_url.url }}" target="_blank"><i class="fa fa-list"></i> List</a>)
    </li>
    {% endfor %}
  </ul>

  <h3>Reporting</h3>
  <ul>
    {% for reporting_url in reporting_urls %}
    <li>
      <a href="{{ reporting_url.url }}">{{ reporting_url.name }}</a>
    </li>
    {% endfor %}
  </ul>

  <h3>Tools</h3>
  <ul>
    {% for tools_url in tools_urls %}
    <li>
      <a href="{{ tools_url.url }}">{{ tools_url.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
