{% load htk_tags %}
{% load humanize %}
{% with charges=cpq_obj.get_charges %}
{% if charges %}
<div class="no-print">
  <h4 class="cpq-heading">Payments</h4>
  <table class="pure-table">
    <tr>
      <th>Date</th>
      <th>By</th>
      <th>Card Ending In</th>
      <th>Amount</th>
    </tr>
    {% for charge in charges %}
    <tr>
      <td>{{ charge.created|timestamp }}</td>
      <td>{{ charge.source.name }}</td>
      <td>{{ charge.source.brand }} {{ charge.source.last4 }}</td>
      <td>${{ charge.amount|float_divide:100|currency|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endwith %}
