{% load humanize %}
<table class="pure-table cpq-items">
  <thead>
    <tr>
      {% if cpq_obj.get_type == 'Quote' %}
      <th class="cpq-items-approve">
        Approve
      </th>
      {% endif %}
      <th class="cpq-items-description">
        Item/Description
      </th>
      <th class="cpq-items-unit-cost">
        Cost/Unit
      </th>
      <th class="cpq-items-quantity">
        Qty.
      </th>
      <th class="cpq-items-amount nowrap">
        Line Total
      </th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in cpq_obj.get_line_items %}
    <tr data:line_item_id="{{ line_item.id }}">
      {% if cpq_obj.get_type == 'Quote' %}
      <td>
        <input class="approve" type="checkbox" value="{{ line_item.id }}" data:value="{{ line_item.get_amount }}" />
      </t>
      {% endif %}
      <td>
        <span class="bold">{{ line_item.name }}</span><br/>
        {{ line_item.description|linebreaksbr }}
      </td>
      <td class="cpq-item-unit-cost" data:line_item_unit_cost="{{ line_item.unit_cost }}">
        ${{ line_item.unit_cost|intcomma }}
      </td>
      <td class="cpq-item-quantity" data:line_item_quantity="{{ line_item.quantity }}">
        {{ line_item.quantity|intcomma }}
      </td>
      <td class="cpq-item-amount" data:line_item_amount="{{ line_item.get_amount }}">
        ${{ line_item.get_amount|intcomma }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="{% if cpq_obj.get_type == 'Quote' %}3{% else %}2{% endif %}"></td>
      <th>
        {% if cpq_obj.get_type == 'Quote' %}
        Quote Amount
        {% else %}
        Amount Due
        {% endif %}
      </th>
      <th class="cpq-total">${{ cpq_obj.get_total|intcomma }}</th>
    </tr>
  </tfoot>
</table>
