{% load humanize %}
<table class="pure-table cpq-items">
  <thead>
    <tr>
      <th class="cpq-items-description">
        Item/Description
      </th>
      <th class="cpq-items-unit-cost">
        Cost/Unit
      </th>
      <th class="cpq-items-quantity">
        Qty.
      </th>
      <th class="cpq-items-amount nowrap">
        Line Total
      </th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in cpq_obj.line_items.all %}
    <tr>
      <td>
        <span class="bold">{{ line_item.name }}</span><br/>
        {{ line_item.description|linebreaksbr }}
      </td>
      <td class="cpq-item-unit-cost">
        ${{ line_item.unit_cost|intcomma }}
      </td>
      <td class="cpq-item-quantity">
        {{ line_item.quantity|intcomma }}
      </td>
      <td class="cpq-item-amount">
        ${{ line_item.get_amount|intcomma }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <th>Amount Due</th>
      <th class="cpq-total">${{ cpq_obj.get_total|intcomma }}</th>
    </tr>
  </tfoot>
</table>
