{% load htk_tags %}
{% load humanize %}
{% with invoices=cpq_obj.invoices.all %}
{% if invoices %}
<div class="no-print">
  <h4 class="cpq-heading">Payments</h4>
  <table class="pure-table">
    <tr>
      <th>Date</th>
      <th>Invoice #</th>
      <th>Items</th>
      <th>Amount</th>
    </tr>
    {% for invoice in invoices %}
    <tr>
      <td>
        {{ invoice.date }}
      </td>
      <td>
        <a href="{{ invoice.get_url }}">{{ invoice.id }}</a>
      </td>
      <td>
        {% for line_item in invoice.line_items.all %}
        {{ line_item.name }}<br/>
        {% endfor %}
      </td>
      <td>${{ invoice.get_total|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endwith %}
