{% load humanize %}
<table class="pure-table cpq-summary right align-right-sm align-right-print">
  <tbody>
    <tr>
      <td>
        {{ cpq_obj.get_type }} #
      </td>
      <td>
        {{ cpq_obj.id }}
      </td>
    </tr>
    <tr>
      <td>
        {{ cpq_obj.get_type }} Date:
      </td>
      <td>
        {{ cpq_obj.date }}
      </td>
    </tr>
    <tr>
      <td class="bold">
        {% if cpq_obj.get_type == 'Quote' %}
        Quote Amount:
        {% else %}
        Amount Due:
        {% endif %}
      </td>
      <td class="bold">
        ${{ cpq_obj.get_total|intcomma }}
      </td>
    </tr>
    <tr>
      <td>
        Status:
      </td>
      <td>
        {% if cpq_obj.get_type == 'Quote' %}
        {{ cpq_obj.payment_status }}
        {% else %}
        {% if cpq_obj.paid %}Paid{% else %}Not Paid{% endif %}
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
