<form method="POST" action="{% url 'api_account_update' %}" class="pure-form settings-field-form">
  {% if wrap_label %}
  <label class="field-label">
    {{ field }}
    {{ field.label }}
  </label>
  {% else %}
  <div class="field-label">
    {{ field.label_tag }}
  </div>
  <div class="pure-u-1">
    {{ field }}
  </div>
  {% endif %}
  <div>
    {% comment %}
    <a href="javascript:void(0);"><i class="fa fa-check"></i></a>
    <a href="javascript:void(0);"><i class="fa fa-times"></i></a>
    {% endcomment %}
    <span class="update-success hidden">Saved</span>
    <span class="update-error hidden">Error<span class="message"></span></span>
  </div>
  <div class="clear">
  </div>
</form>
